.mx-lg-auto {
    border-radius: 15%;
    background-color: #fff;
    box-shadow: 10px 10px 5px #ccc;
}

.lead-word {
    font-weight: 600;
}
.col-lg-6 {
    justify-content: center;
    display: grid;
}